
body, html {
  height: 100%
}

h1 {
  display: inline-block;
}
button {
  display: inline-block;
  margin: auto auto;
}

table {
  height: 90%;
  width: 75%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto auto;
  text-align: center;
}

tr {
  height: 33%;
}

td {
  width: 33%;
  border: 1px solid black;
  font-size: 5em;
  font-family: Arial;
}



