.mainContainer {
  height: 100%;
}

body, html {
height: 100%
}

/* .row, .row1, .row2 {
  height: 30%;
  width: 80%;
  margin: auto auto;
}

.row, .row1 {
  border-bottom: 1px solid black;

}

.row #one, .row #two, .row1 #one, .row1 #two, .row2 #one, .row2 #two {
  display: inline-block;
  border-right: 1px solid black;
  height: 100%;
  width: 32.5%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.row #one, .row1 #one, .row2 #two {
  margin-left: auto;
  margin-right: auto;
}

.row #three, .row1 #three, .row2 #three {
  display: inline-block;
  height: 100%;
  width: 32.5%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
} */

table {
  height: 90%;
  width: 75%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto auto;
}

tr {
  height: 33%;
}
td {
  width: 33%;
  border: 1px solid black;
}

